<h1><%=@club.name%></h1>
<p><%=@club.description%></p>

<% @club.evals.each do |eval| %>
	<div class="panel">
		<div>
			<p>Rating: <%= eval.rating %> <br/>Hours per Week: <%= eval.hours  %> <br/> Review: <%= eval.review %></p> 
		</div>
	</div>
<%end%>


